* {
  margin: 0;
  padding: 0;

  font-family: 'Radio Canada', sans-serif;
}

body{
  width: 70vw;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body{
    width: 100%;
  }
}
h1, p{
  text-align: center;
}

h1{
  padding-top: 50px;
}
#firsty{
  margin-top: 70px;
  margin-bottom: 20px;
}
#sub{
  margin-bottom: 25px;
}
.input-area {
  border-bottom: solid 1px rgb(202, 201, 201);

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
}

.items {
  width: 100%;
}


.opaque {
  position: absolute;

  opacity: 0.3;

  padding-top: 18px;
  padding-left: 25px;
}


input {
  border-radius: 5px;
  border: solid 1px lightblue;

  height: 2.5em;
  font-size: 14px;

  width: 92%;

  margin-left: 6px;
  margin-top: 10px;
}

input:focus{
  border: solid 1px rgb(155, 192, 226);
}

select{
  width: 90%;
  height: 2.5em;

  margin-left: 5px;
  margin-top: 13px;
}

.read{
  background-color: rgb(111, 172, 153);
}

.read:hover{
  background-color: rgb(93, 180, 154);
}

.ipr{
  background-color: rgb(241, 189, 128);
}

.ipr:hover{
  background-color: rgb(243, 182, 112);
}

.not-read{
  background-color: rgb(218, 143, 143);
}

.not-read:hover{
  background-color: rgb(216, 130, 130);
}

option{
  font-size: 14px;
}

button {
  font-weight: 600;
  border: none;
  border-radius: 4px;
  height: 69%;
  width: 10vw;
  background-color: lightblue;
  color: whitesmoke;
}

button#add-book {
  width: 15vw;
  margin-top: 9px;
}

button:hover {
  background-color: rgb(122, 199, 224);
}

#bookshelf {
  display: grid;
  grid-template-rows: 75px 60px 50px;
  grid-auto-rows: 50px;
}

#bookshelf-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* border-bottom: 1px solid black; */
  justify-items: center;
}

#bookshelf-header>h2{
  margin-top: 35px;
}

.book {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;

  border-bottom: 1px solid rgb(202, 201, 201);
  justify-items: center;
}

.book>p {
  margin-top: 15px;
}

.book>button{
  margin-top: 8px;

  width: 75%;
}

.remove-but{
  background-color: rgba(235, 70, 70, 0.637);

  max-width: 5vw;
  min-width: 30px;
}

.remove-but:hover{
  font-size: 28px;
  background-color: rgba(235, 70, 70);
}

